@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;800&display=swap');

body {
  font-family: 'Sora', sans-serif;
  
}

h1 {
  font-weight: 800;
  font-style: bold;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sora', sans-serif;
  font-style: bold;
  font-weight: 400;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.btn {
  background-color: #87C4FF;
  border-color: #000;
  color: #E0F4FF;
}

.btn:hover {
  background-color: #E0F4FF;
  border-color: #000;
  color: #39A7FF;
}

.Navbar {
  color: #87C4FF;
  font-family: 'Sora', sans-serif;
}

.container-fluid, .container {
  padding: 20px;
}

