body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.btn {
  background-color: #87C4FF;
  border-color: #000;
  color: #E0F4FF;
}

.btn:hover {
  background-color: #E0F4FF;
  border-color: #000;
  color: #39A7FF;
}

.Navbar {
  color: #87C4FF;
}